:root {
    --cor1: #0c2340;
    --cor2: #1a4a6e;
    --cor3: #2d8a9e;
    --cor4: #5cbdb9;
}

header {
    background-color: none;
    backdrop-filter: blur(10px);
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

header a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

body {
    background-color: #0c2340;
    color: #5cbdb9;
}

main {
    width: 80vw;
    margin: auto;
}

#message {
    border: none;
    width: 800px;
    height: 60px;
    padding: 5px 30px;
    border-radius: 50px;
    box-shadow: 0px 0px 50px gray;
}

#button-enviar {
    padding: 7.5px 60px;
    border: none;
    background-color: #2d8a9e;
    border-radius: 1rem;
}

.send-message-input-button {
    position: fixed;
    bottom: 50px;
    display: flex;
    gap: 5vw;
}