<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
</head>


<body>
    <header>
        <nav>
            <ul>
                <li><a href="profile">Profile</a></li>
                <li><a href="#">Servers</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Credits</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Chat dos cria do senac</h1>

        <div id="messages"></div>

        <ul id="message-list"></ul>

        <div class="send-message-input-button">
            <input type="text" id="message" placeholder="Type your message...">

            <button onclick="enviarMensagem()" id="button-enviar">
                Enviar
            </button>
        </div>
    </main>

    <!-- sc -->
    <script>
        const USERNAME = "{{ session['username'] }}";
    </script>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="{{url_for('static', filename='js/chat.js') }}"></script>
</body>

</html>